@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* This sets a white background for light mode and a deep gray for dark mode */
  @apply bg-white dark:bg-[#121212];
  @apply transition-colors duration-300;
}

/* Keep the keyframes the same */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--scroll-duration, 30s) linear infinite;
}

html {
  scroll-behavior: smooth;
}

.prose {
  font-family: Urbanist;
}